*{
	margin: 0;
	padding: 0;
}
body{
	margin:0.5%;
	overflow: auto;
}
@media screen and (max-width: 1200px) {
		body{
			width: 1250px;
			height: 1800px;
		}
}
.nav{
      text-decoration: none;
      color:white;
     }
.phantren{
	width: 100%;
	height: 200px;
	margin-bottom: 5px;

}

.phantren img{
	width: 100%;
	height: 200px;
}


.search{
	width: 100%;
	height: 60px;
	background-color: #525252;
	border:1px solid;
	margin-bottom: 5px;

}

.menu{
	float: left;
	padding: 5px 0% 0px 10% ;
	width: 90%
	
}
.menu li{
	list-style: none;
	float: left;
	color: white;
	margin: 5px;
	font-size: 20px;
	width: 12%;	
	line-height: 40px;
	position: relative;
	text-align: center;
	padding-left:10px
}
.menu li a{
	text-decoration: none;
    color:white;
    display: block;
}
.menu li a:hover{
	background-color: #961615;
	border:1px solid;	
}

.search ul li >.sub-menu{
	display: none;
}
.search ul li:hover .sub-menu{
	display: block;
	position: absolute;
}
.sub-menu{
	background-color: #961615;
}
.sub-menu li{
	width: 220px;
	height: 40px;
}

.phangiua{
	width: 100%;
	height: 1100px;
	margin-bottom:10px;
	margin-top: 10px;
}
.trai{
	width: 20%;
	height: 100%;
	float:left;
	margin-bottom: 5px;
	margin-top: 5px;
}
.tin1 img{
	width: 100%;
	height: 150px;
}

.giua{
	width: 60%;
	height: 1000px;
	float:left;
	
	
}
.login{
	margin: 5% 35% ;
}
.phai{
	width: 20%;
	height: 100%;
	float:left;
	margin-top: 5px;
	
}
.phanduoi{
	width: 100%;
	height: 60px;
	margin-bottom:5px;
	background-color: #A7A4A4;
}



    <span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;">form {
  box-sizing: border-box;
  width: 260px;
  margin: 100px auto 0;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 40px;
  border-radius: 3px;
}
form h1 {
  box-sizing: border-box;
  padding: 20px;
}
  
input {
  margin: 40px 25px;
  width: 200px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #1abc9c;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: #0e6252;
}
input:focus, input:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}
input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
  color: #1abc9c;
  font-size: 11px;
  transform: translateY(-20px);
  visibility: visible !important;
}
 
input[type=button]{
font-size: 16px;
background-color: #1abc9c;
border: 1px solid #1abc9c;
color: black;
font-weight: bold;
cursor: pointer;
width: 200px;
border-radius: 5px;
padding: 10px 0;
outline:none;
} 

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}</span></span>
